<div class="page">
    <div class="dealer">
            <img id="verso" src="../../../assets/Images/card.png">
            <img id="verso" src="../../../assets/Images/card.png">
            <img id="verso" src="../../../assets/Images/card.png">
            <img id="verso" src="../../../assets/Images/card.png">
            <img id="verso" src="../../../assets/Images/card.png">
    </div>
    <div class="player">
            <img id="verso" src="../../../assets/Images/card.png">
            <img id="verso" src="../../../assets/Images/card.png">
            <img id="verso" src="../../../assets/Images/card.png">
            <img id="verso" src="../../../assets/Images/card.png">
            <img id="verso" src="../../../assets/Images/card.png">       
    </div>
    <div class="chips">
        <img src="../../../assets/Images/chip5.png">
        <img src="../../../assets/Images/chip10.png">
        <img src="../../../assets/Images/chip25.png">
        <img src="../../../assets/Images/chip100.png">
    </div>
    
</div>