<div class="page">
    <div class="dealer">
      <img class="verso" src="../../../assets/Images/card.png" #card0>
      <img class="verso" src="../../../assets/Images/card.png" #card1>
      <img class="verso" src="../../../assets/Images/card.png" #card2>
      <img class="verso" src="../../../assets/Images/card.png" #card3>
      <img class="verso" src="../../../assets/Images/card.png" #card4>

    </div>
    <div class="player">
      <img class="verso" src="../../../assets/Images/card.png" #card5>
      <img class="verso" src="../../../assets/Images/card.png" #card6>
      <img class="verso" src="../../../assets/Images/card.png" #card7>
      <img class="verso" src="../../../assets/Images/card.png" #card8>
      <img class="verso" src="../../../assets/Images/card.png" #card9>

    </div>
    <div class="chips" (click)="givecards()">
        <img src="../../../assets/Images/chip5.png">
        <img src="../../../assets/Images/chip10.png">
        <img src="../../../assets/Images/chip25.png">
        <img src="../../../assets/Images/chip100.png">
    </div>

</div>
